.Messaging {
    /* position: fixed; */
    /* width: 25%; */
    max-width: 250px;
    padding: 0px;
    left: 0%;

    box-sizing: border-box;

    background-color: rgb(109, 109, 109);
    overflow-y: scroll;
}

