.profilePic{
    width:256px;
    height:256px;
    justify-content: center;
    margin: auto;
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit_or_message, .report{
    align-items: right;
    justify-content: right;
    display: flex;
    margin-left:auto;
    margin-right:0px;
}