.create-listing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding-top: 150px;
  padding: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 300px; /* Adjust the max-width as needed */
  margin-bottom: 10px;
}

.image-preview {
  max-width: 100%;
  height: auto; /* Allows the image to adjust its height proportionally */
}

.file-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
}

.file-label {
  display: inline-block;
  cursor: pointer;
  background-color: #050;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.data-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust as needed */
}
