.create-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px; /* Adjust the padding value as needed */
    padding: 20px; /* Added padding for space inside the border */
}

.image-container {
    margin-bottom: 10px; /* Added margin for space between the image preview and the "Choose File" button */
}

.image-preview {
    max-width: 50%;
    max-height: 50%;
    scale: 50%;
    position: relative; /* This is not a valid position property. Use margin to center the image horizontally. */
    top: -100px; /* Adjust the value to move it up */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

.file-label {
    display: inline-block;
    cursor: pointer;
    background-color: #050;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;

    position: relative;
    top: -200px; /* Remove the space between the value and unit */
}

.file-label:hover {
    background-color: #999;
    /* Set to a darker grey color on hover */
}
