.Listing {
    width: 200px;
    min-width: 200px;
    height: 250px;
    overflow: hidden;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding:5px;
    margin:5px;
    
    background-color: whitesmoke;

}

.image {
    width: 100%;
    height: 62%;
    object-fit: cover;
}

.title {
    color: darkslategrey;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.description {
    color: darkslategray;
    font-weight: lighter;
    text-align: left;
    margin: 0;
    padding: 0;

    text-overflow: ellipsis;
    

}