.listings {
    left: 25%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: auto;
}

.spacer {
    
}

.content {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.store {
    display:flex;
    flex: 1;
}