.NavBar {
    margin: 0;
    padding: 5px;
    text-align: center;
    background-color: black;
    /* position: fixed; 
    top: 0; 
    left: 0; */
    height: 100%;
    max-width: 100%;
    padding-bottom: 10px;;

  }

.links {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: white;

}

a {
        text-decoration: none;
        color: white;
    }
