.NavBar {
    margin: 0;
    padding: 5px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    position: fixed; 
    top: 0; 
    width: 100%;

  }

.links {
    display: flex;
    justify-content: space-around;

}

h1 {
    color: white;

}

a {
        text-decoration: none;
        color: white;
    }
