.Listings {


    /* position: fixed; */
    height: 100%;
    /* padding: 20px; */
    /* left: 30%; */

    display: flex;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: scroll;

    background-color: white;

}